
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');

body{
    background-image: url(https://th.bing.com/th/id/R.6402f1c19dd90288c2896f823116b7ae?rik=h7g38LibU2IZEw&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    font-family: 'Noto Sans', sans-serif;
}

.conteiner{
    height: 340px;
    width: 400px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 80px auto;
    border-radius: 30px;
    justify-content: space-around;
}

.image{
    content: url(./Imagenes/NEZU.jpeg);
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    margin: -55px auto;
    border: 5px solid white;
}

h2{
    padding-top: 10px;
    margin-bottom:-3px;
}

.text{
    padding-inline: 20px;
    text-align: center;
    font-size: small;
    height: 120px;
}

hr{
    border: 0.5px solid rgb(4, 107, 165);
}

.botones{
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.redessociales{
    background-color: rgb(205, 225, 237);
    border: 2px solid rgb(205, 225, 237);
    background-size: 20px;
    border-radius: 10px;
    width: 48px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.telegram{
    background-image:url(./Imagenes/telegrama.png);
    background-repeat: no-repeat;
    background-position: center;
}

.telegram:hover{
    background-color: transparent;
    border: 2px solid rgb(205, 225, 237);
    background-image: url(./Imagenes/telegramanegro.png);
}

.facebook{
    background-image:url(./Imagenes/simbolo-de-la-aplicacion-de-facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.facebook:hover{
    background-color: transparent;
    border: 2px solid rgb(205, 225, 237);
    background-image: url(./Imagenes/simbolo-de-la-aplicacion-de-facebook\ \(1\).png);
}

.instagram{
    background-image:url(./Imagenes/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram:hover{
    background-color: transparent;
    border: 2px solid rgb(205, 225, 237);
    background-image: url(./Imagenes/instagram\ \(1\).png);
}

.twiter{
    background-image:url(./Imagenes/gorjeo\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
}

.twiter:hover{
    background-color: transparent;
    border: 2px solid rgb(205, 225, 237);
    background-image: url(./Imagenes/gorjeo.png);
}

.Follow{
    width: 50px;
    font-size: smaller;
    font-weight: 700;
    border-radius: 10px;
    color:#fff;
    background-color: rgb(4, 107, 165);
    border: 2px solid rgb(4, 107, 165);
    padding: 8px 70px;
    text-decoration: none;
}

.Follow:hover{
    background-color: transparent;
    border:2px solid rgb(4, 107, 165);
    color: rgb(4, 107, 165);
}

